
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  width: 300px;
  padding: 0.5em;
  margin: 0.5em;

  .card-header {
    font-weight: bold;
    display: flex;

    img {
      margin-right: 5px;
    }
  }

  .card-subheader {
    font-size: 0.8em;
    color: #666;
    font-style: italic;
  }

  .card-label {
    font-weight: bold;
  }
}