form {
  .field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
      margin-bottom: 0.2em;
      font-weight: bold;
    }

    input {
      width: 300px;
    }

    .button-input {
      width: fit-content;
    }
  }
}