{% load i18n %}

<nav class='sider-menu'>
  <h4>{% trans 'Encyclopedia' %}</h4>
  <div>
    <a href="{% url 'home' %}">
      {% trans 'Home' %}
    </a>
  </div>
  <div>
    <a href="{% url 'species_list' %}">
      {% trans 'List of species' %}
    </a>
  </div>
  <div>
    <a href="{% url 'genuses_list' %}">
      {% trans 'List of genuses' %}
    </a>
  </div>
  <div>
    <a href="{% url 'families_list' %}">
      {% trans 'List of families' %}
    </a>
  </div>

  <hr />

  <h4>{% trans 'Quick add' %}</h4>
  <div>
    <a href="{% url 'create_specie'  %}">
      {% trans 'Add specie' %}
    </a>
  </div>
  <div>
    <a href="{% url 'create_genus'  %}">
      {% trans 'Add genus' %}
    </a>
  </div>
  <div>
    <a href="{% url 'create_family'  %}">
      {% trans 'Add family' %}
    </a>
  </div>

</nav>