{% load i18n %}

<nav>
  <h4>{% trans 'Encyclopedia' %}</h4>
  <div>
    <a href="{% url 'home' %}">
      {% trans 'Home' %}
    </a>
  </div>
  <div>
    <a href="{% url 'species_list' %}">
      {% trans 'List of species' %}
    </a>
  </div>
  <div>
    <a href="{% url 'genii_list' %}">
      {% trans 'List of genuses' %}
    </a>
  </div>
  <div>
    <a href="{% url 'families_list' %}">
      {% trans 'List of families' %}
    </a>
  </div>

  <hr />

  <h4>{% trans 'Quick add' %}</h4>
  <div>
    {% trans 'Add specie' %}
  </div>
  <div>
    {% trans 'Add genus' %}
  </div>
  <div>
    {% trans 'Add family' %}
  </div>

  <hr />
  <h4>{% trans 'Quick search ' %}</h4>
    <input type="text" data-globatarget="input"  placeholder="todo..." />
</nav>
