{% load i18n %}
<div>
  <h1> {% trans 'List of species' %}</h1>
  <div class='filters'>
    <input type="text" placeholder="specie's name" unicorn:model="specie_name">
    <input type="text" placeholder="genuses' name" unicorn:model="genus_name">
    <input type="text" placeholder="family's name" unicorn:model="family_name">
    <button unicorn:click="reset">Reset</button>
  </div>
  {% if species %}
  <div class='cards'>
    {% for specie in species %}
    {% include 'partials/specie.html' with specie=specie %}
    {% endfor %}
  </div>
  <div class="pagination">
    <span class="step-links">
      {% if page.has_previous %}
      <button unicorn:click="go_to_page(1)"><<<</button>
      <button unicorn:click="go_to_page({{page.previous_page_number}})"><</button>
      {% endif %}
      <span class="current">Page {{ page.number }} of {{ page.num_pages }}</span>

    {% if page.has_next %}
    <button unicorn:click="go_to_page({{page.next_page_number}})">></button>
    <button unicorn:click="go_to_page({{page.num_pages}})">>>></button>
    {% endif %}
    </span>
  </div>
  {% else %}
  <div>No specie found...</div>

  {% endif %}
</div>