{% load i18n static %}

<div class="card">
  <div class='card-header'>
    <img src="{% static 'images/plants/placeholder.png' %}" alt="My image" width='80' />
    <div class='card-header-content'>
      <div>{{ specie.name }}</div>
      <div class="card-subheader">
        <div><span class='card-label'>{% trans 'Created:' %} </span> {{ specie.created_at|date:'Y-m-d H:i' }}</div>
        <div><span class='card-label'>{% trans 'Updated:' %} </span> {{ specie.updated_at|date:'Y-m-d H:i' }}</div>
      </div>
    </div>
  </div>

  <hr />
  <div><span class='card-label'>{% trans 'Genus:' %} </span> {{ specie.genus.name }}</div>
  <div><span class='card-label'>{% trans 'Family:' %} </span> {{ specie.genus.family.name }}</div>
</div>