{% extends "layouts/simple.html" %}
{% load i18n %}
{% load sass_tags %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% sass_src 'small-page.scss' %}" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block title %}
   {% trans 'Edit profile' %}
{% endblock title %}

{% block content %}
<div class='small-page'>
  <h1>
    {% trans 'Reset password' %}
  </h1>
  <p>{% trans "Lost your password? Enter your email below, we will send you instruction to set a new one." %}</p>
  {% include "partials/form.html" with action="Reset" %}
</div>
{% endblock content %}