{% extends 'base.html' %}
{% load sass_tags %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% sass_src 'layouts/simple.scss' %}" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block layout %}
  {% comment %} {% block nav %}
    {% include "nav.html" %}
  {% endblock nav %} {% endcomment %}

{% block header %}
  <header>
    {% include "header.html" %}
  </header>
{% endblock header %}

<div class="main-container">
  {% block message %}
    {% if messages %}
    <div class="messages" data-controller='messages'>
      {% for message in messages %}
      <div class="message">
        <i class="close icon"></i>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endblock message %}

  {% block content %}
  {% endblock content %}
</div>
{% endblock layout %}