{% extends 'simple.html' %}
{% load i18n unicorn %}


{% block title %}
{% if family %}
{% trans 'Edit Family' %}
{% else %}
{% trans 'Create Family' %}
{% endif %}
{% endblock %}

{% block content %}

{% if family %}
<h1>{% trans 'Edit Family' %}</h1>
{% else %}
<h1>{% trans 'Create Family' %}</h1>
{% endif %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="field-wrapper">
    <label for="{{ form.name.id_for_label }}">Scientific name:</label>
    {{ form.name }}
    {{ form.name.errors }}
  </div>


  <div class="field-wrapper" data-controller='file-select'>
    {{ form.cover_picture.errors }}
    <label for="{{ form.cover_picture.id_for_label }}">Cover picture:</label>
    {% if family.cover_picture %}
    <img src="{{ family.cover_picture.url }}" alt="Cover picture" width="100" data-file-select-target='display'
      style="margin-bottom: 0.2em" />
    {% else %}
    <img src="" class='hidden' alt="Cover picture" width="100" data-file-select-target='display'
      style="margin-bottom: 0.2em" />
    {% endif %}

    <input type="file" name="cover_picture" id="id_cover_picture" data-action="file-select#loadImage" accept="image/*"
      style="display: none;" />
    <input type="button" value="{% trans 'Select file' %}"
      onclick="document.getElementById('id_cover_picture').click();" class='button-input' />
  </div>

  <input type="submit" value="{% if family %}Update{% else %}Create{% endif %}" class="bttn-simple bttn-sm bttn-success ">

</form>
{% endblock %}