{% extends 'simple.html' %}
{% load i18n unicorn  %}

{% block title %}{% trans 'List of species' %}{% endblock %}

{% block content %}
<div>
  <h1>{% trans "List of species" %}</h1>
  <div class='filters'>
    <form method="get" action="{% url 'species_list' %}">
      <input type="text" placeholder="specie's name" name="search_specie" value="{{search_specie}}" />
      <input type="text" placeholder="genuses' name" name="search_genus" value="{{search_genus}}" />
      <input type="text" placeholder="family's name" name="search_family" value="{{search_family}}" />
      <input type="submit" name="submit" value="{% trans 'search' %}" class="bttn-simple bttn-sm bttn-success btn-link" />
      <a href="{% url 'species_list' %}" class="bttn-simple bttn-sm bttn-warning btn-link">Reset</a>
    </form>

  </div>
  {% if species %}
  <div class='cards'>
    {% for specie in species %}
    {% include 'partials/specie.html' with specie=specie %}
    {% endfor %}
  </div>
  {% include 'partials/pagination.html' %}

  {% else %}
  <div>Nothing to display...</div>

  {% endif %}
</div>
{% endblock %}