{% extends 'simple.html' %}
{% load i18n unicorn %}

{% trans 'Edit Specie' %}

{% block title %}{% trans 'Edit Specie' %}{% endblock %}

{% block content %}
<h1>{% trans 'Edit Specie' %}</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="field-wrapper">
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}">Scientific name:</label>
    {{ form.name }}
  </div>

  <div class="field-wrapper">
    {{ form.genus.errors }}
    <label for="{{ form.genus.id_for_label }}">Genus:</label>
    {{ form.genus.as_hidden }}

    <div data-controller='ajax-select' data-ajax-select-url-value="{% url 'genus_search'  %}"
      data-ajax-select-name-value="genus" data-ajax-select-id-value="id_genus"
      data-ajax-select-current-value="{{ specie.genus.name }}" class='ajax-select'>
      <input type="text" value="{{ specie.genus.name }}" data-ajax-select-target='input' />
      <div data-ajax-select-target='results' class='results hidden'></div>
    </div>

  </div>

  <div class="field-wrapper" data-controller='file-select'>
    {{ form.cover_picture.errors }}
    <label for="{{ form.cover_picture.id_for_label }}">Cover picture:</label>

    {% if specie.cover_picture %}
    <img src="{{ specie.cover_picture.url }}" alt="Cover picture" width="100" data-file-select-target='display'
      style="margin-bottom: 0.2em"/>
      {% else %}
      <img src="" class='hidden' alt="Cover picture" width="100" data-file-select-target='display'
      style="margin-bottom: 0.2em"/>
      {% endif %}




      <input type="file" name="cover_picture" id="id_cover_picture" data-action="file-select#loadImage"
      accept="image/*" style="display: none;" />
      <input type="button" value="{% trans 'Select file' %}" onclick="document.getElementById('id_cover_picture').click();" class='button-input' />
  </div>

  <input type="submit" value="Update">

</form>
{% endblock %}